body{
font-family: Arial;
text-align: center;
background-color: #f2f2f2;
}

h1{
color: #333;
}

.box{
background:white;
padding:30px;
width:300px;
margin:auto;
margin-top:100px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:darkgreen;
}